.qualification {
  padding: 60px 0;
  background: #f9f9f9;
}

.section__title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #111;
}

.section__subtitle {
  display: block;
  text-align: center;
  font-size: 1rem;
  color: #555;
  margin-bottom: 3rem;
}

.timeline {
  position: relative;
  max-width: 900px;
  margin: auto;
  padding: 0 20px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: #111;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
}

.timeline_entry {
  padding: 20px 30px;
  position: relative;
  width: 50%;
  box-sizing: border-box;
}

.timeline_entry.left {
  left: 0;
}

.timeline_entry.right {
  left: 50%;
}

.timeline_entry::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: #111;
  border: 4px solid #fff;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timeline_entry.right::after {
  left: -13px;
}

.timeline_icon {
  position: absolute;
  top: 12px;
  width: 50px;
  height: 50px;
  background: #111;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  z-index: 2;
}

.timeline_entry.left .timeline_icon {
  right: -75px;
}

.timeline_entry.right .timeline_icon {
  left: -75px;
}

.timeline_content {
  padding: 20px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.timeline_content h3 {
  margin-top: 0;
  color: #111;
}

.timeline_date {
  font-size: 0.9rem;
  color: #555;
  display: block;
  margin-bottom: 10px;
}

.timeline_content p {
  margin: 0;
  line-height: 1.6;
  color: #333;
}

.timeline_content a {
  color: #111;
  text-decoration: underline;
}

.timeline_content a:hover {
  color: #555;
}

@media screen and (max-width: 768px) {
  .timeline_entry {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline_entry.left,
  .timeline_entry.right {
    left: 0;
  }

  .timeline_entry.left .timeline_icon,
  .timeline_entry.right .timeline_icon {
    left: -75px;
  }

  .timeline::after {
    left: 31px;
  }
}
